---
import { Button } from "@/components/ui/button";
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/home", {
  version: import.meta.env.DEV ? "draft" : "published",
});
const content = data.story.content;
---

<html lang="en">
  <head>
    <title>Home</title>
  </head>
  <body>
    <Button>Hello</Button>
    <StoryblokComponent blok={content} />
  </body>
</html>
