@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lora", serif;
  font-family: "Cinzel Decorative", serif-header;
  background-color: #74799a;
}

img {
  border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel Decorative", serif;
}

p {
  font-family: "Lora", serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

* {
  box-sizing: border-box;
}

/* this should only apply on desktop */
@media (min-width: 768px) {
  .sb-image-container {
    max-width: 30%;
    margin: 0 auto;
    display: block;
    margin-bottom: 2rem;
  }
}

/* text color */
span {
  color: #1b2031 !important;
}